<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CInovonicsARService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CInovonicsARService.Properties.Settings>
            <setting name="RelayIp" serializeAs="String">
                <value>10.210.20.96</value>
            </setting>
            <setting name="InovonicsUser" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="InovonicsPassword" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="InovonicsIpList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>10.210.20.115</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RelayPort" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="CCureIp" serializeAs="String">
                <value>10.210.20.96</value>
            </setting>
            <setting name="InovonicsIp" serializeAs="String">
                <value>10.210.20.115</value>
            </setting>
        </CInovonicsARService.Properties.Settings>
    </userSettings>
</configuration>
